button.copuncode, .close-icon {
    cursor: pointer;
}
.coupon-form input {
  width: 59%;
  height: 47px;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  box-shadow: unset;
}

.coupon-form {
  margin-bottom: 10px;
}

.coupon-form button {
  padding: 5px;
  height: 47px;
  border-radius: 5px;
  width: 37%;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.coupan-valid{
  color:green;
  font-size: 20px;
  font-weight: bold;
}
.error-code{
  color:red;
  font-size: 20px;
  font-weight: bold;
}
