
<form class="coupon-form">
<input type="text" id="mycoupon" name="mycoupon" placeholder="Discount Codes">
<button class="copuncode">Apply</button>
</form>
{% schema %}
    {
        "name":"Enable Discount",
        "target":"section",
        "stylesheet":"test.css",
        "javascript":"test.js",
        "settings": []
    }
{% endschema%}
